<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Survey</title>
  </head>
  <body>
    <form class="" action="/result" method="post">
      Your Name: <input type="text" name="name" value="">
      Dojo Location: <select class="" name="location">
        <option value="Silicon_Valley">Sillicon Valley</option>
        <option value="Seattle">Seattle</option>
        <option value="Los_Angeles">Los Angeles</option>
        <option value="Dallas">Dallas</option>
        <option value="Washington_DC">Washington DC</option>
        <option value="Chicago">Chicago</option>
        <option value="Berkley">Berkley</option>
        <option value="Orange_County">Orange County</option>
      </select>
      Favorite Language: <select class="" name="language">
        <option value="Python">Python</option>
        <option value="Mean">Mean</option>
        <option value="Ruby">Ruby</option>
        <option value="IOS">IOS</option>
        <option value="NET_CORE">.NET CORE</option>
      </select>
      Comment (optional): <textarea name="comment" rows="8" cols="80"></textarea>
      <input type="submit" name="" value="Submit">
    </form>

  </body>
</html>
